.App {
  font-family: "Cairo", sans-serif;
}
.App h1 {
  color: chocolate;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Crafty Girls", cursive;
}
.App .intro {
  color: darkblue;
  text-align: center;
  font-family: "Crafty Girls", cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
